body{
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe{
    font-size: 24px;
}
h1{
    font-size: 64px;
    scale: 100%;
    opacity: 1;
    transition: scale, opacity 230ms ease-in-out;
}
h1:hover{
    scale: 120%;
    opacity: 0.8;
}
img{
    border-style: dashed;
    border-radius: 25px;
    border-width: 4px;
    border-color: hsla(0, 0%, 0%, 0.50);
}
a:link{
    color: black;
}
a:visited{
    color: navy;
}